/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Login Page */
.formStyle {
  border: 2px solid #4bb2f2;
  width: fit-content;
  transform: translate(100%, 30%);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formText {
  display: flex;
  align-items: center;
}
Form {
  display: flex;
  align-items: center;
}
button {
  display: flex;
  align-items: center;
}
.btn {
  background-color: #4bb2f2;
  height: fit-content;
}
.btn:hover {
  background-color: #4bb2f2;
}
.avatarHover {
  display: flex;
  align-items: baseline;
  margin: 5px 15px;
}
/* .tabStyle {
  width: 100%;
  height: fit-content;
} */
.textStyle {
  color: #4bb2f2;
  font-weight: 400;
}
.listStyle {
  font-weight: 500;
  color: #4bb2f2;
}
.add_btn {
  width: 90%;
  margin: 5px;
  height: 40px;
  border: 1px solid #4bb2f2;
  /* color: #4bb2f2; */
}
.formAddStyle {
  border: 1px solid #4bb2f2;
  width: fit-content;
  transform: translate(100%, 0%);
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconStyle {
  margin-left: 15px !important;
}
